__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.venv/
lightweight_SER/
.env
.ipynb_checkpoints/

data/raw/
data/processed/
data/cache/
outputs/
runs/
checkpoints/
*.pt
*.pth
*.ckpt
*.wav
*.mp4
*.avi
*.m4a

.pytest_cache/
.coverage
htmlcov/
